{% extends "student/base.html" %}
{% load static %}

{% block title %}
Student -> Sessions🔥
{% endblock %}

{% block body %}

<div class="container-fluid" style="background-color: #001f3f; color: white;">
    <div class="card" style="background-color: #001f3f; color: white;">
        <div class="card-body">
            <h3 class="heading" style="color: white;">
                <span class="fw-semibold">👨‍🎓Apna Nyayalya👨‍🎓</span>
                <span class="fs-4"> | </span>
            </h3>
        </div>
    </div>

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" style="color: white;">
        <strong>{{ message.tag }}</strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="card w-100" style="background-color: #001f3f; color: white;">
        <div class="card-body p-4">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {% if query %}
                    <input type="text" class="form-control" style="color: black;" placeholder="Search by ID, Topic, Instructor or Course"
                        aria-label="Search by Topic or Id" aria-describedby="button-addon2" name="query" value="{{ query }}">
                    {% else %}
                    <input type="text" class="form-control" style="color: black;" placeholder="Search by ID, Topic, Instructor or Course"
                        aria-label="Search by Topic or Id" aria-describedby="button-addon2" name="query">
                    {% endif %}
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                    <a href="{% url 'my_sessions' %}" class="btn btn-outline-danger">Clear</a>
                </div>
            </form>
        </div>
    </div>

    <div class="card w-100" style="background-color: #001f3f; color: white;">
        <div class="card-body p-4">
            <h5 class="mb-4" style="color: white; font-weight:bold">Nyay Sabha 🧾
                {% if query %}
                <span class="fs-6"> | Search Results for "{{ query }}"</span>
                {% endif %}
            </h5>
            <div class="table-responsive">
                <table class="table text-nowrap mb-0 align-middle">
                    <thead class="text-white fs-4" style="background-color: #001f3f;">
                        <style>
                            .topic-text{
                                font-weight:bold;
                                color:white
                            }

                        </style>
                        <tr>
                            <th class="border-bottom-0">
                                <h6 class="  mb-0 topic-text ">
                                    #
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class=" mb-0 topic-text">
                                    Topic
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class=" mb-0 topic-text">
                                    Tutor
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class=" mb-0 topic-text">
                                    Time
                                </h6>
                            </th>
                            <th class="border-bottom-0">
                                <h6 class=" mb-0 topic-text">
                                    Status
                                </h6>
                            </th>
                            <th class="border-bottom-0 justify-content-center">
                                <h6 class=" mb-0 topic-text">
                                    Action#1
                                </h6>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions %}
                        <tr>
                            <td class="border-bottom-0">
                                <h6 class="topic-text mb-0">{{ session.id }}</h6>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="topic-text mb-1" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ session.topic }}">{{ session.topic }}</h6>
                            </td>
                            <td class="border-bottom-0">
                                <p class="fw-semibold mb-0">
                                    <span style="font-weight: bold; color: white;"> {{ session.course.name }} </span>
                                    <br>
                                    by <span style="font-weight: bold; color: white;"> {{ session.instructor.first_name }}
                                        {% if session.instructor.gender == "Male" %}
                                        Bhaiya
                                        {% else %}
                                        Didi
                                        {% endif %}
                                    </span>
                                </p>
                            </td>
                            <td class="border-bottom-0">
                                <p class="fw-semibold mb-0">
                                    <span> {{ session.session_time|date }} </span>
                                    <br>
                                    <span style="font-weight: bold; color: white;">
                                        @{{ session.session_time|time }} </span>
                                    </span>
                                </p>
                            </td>
                            <td class="border-bottom-0">
                                <h6 class="fw-semibold mb-0 fs-4">
                                    <span class="badge bg-{{ session.get_meeting_status.color }}">{{ session.get_meeting_status.status }}</span>
                                </h6>
                            </td>
                            <td class="border-bottom-0">
                                <div class="d-flex align-items-center gap-2">
                                    {% if session.get_meeting_status.status == "Ongoing" %}
                                    <a href="{{ session.link }}" target="_blank" class="btn btn-outline-{{ session.get_meeting_status.color }} text-blue float-end">Join Meeting</a>
                                    {% elif session.get_meeting_status.status == "Upcoming" %}
                                    <a href="#" class="btn btn-outline-{{ session.get_meeting_status.color }} text-black float-end">Please Wait</a>
                                    {% elif session.recorded_session_link %}
                                    <a href="{{ session.recorded_session_link }}" target="_blank" class="btn btn-outline-{{ session.get_meeting_status.color }} text-blue float-end">Watch Recorded Session</a>
                                    {% else %}
                                    <button class="btn btn-outline-indigo float-end">Session Ended</button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
