{% extends 'home/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home/css/about.css' %}" />
{% endblock %}

{% block body %}

<section class="about-us">
    <div class="team-image">
        <img src="{% static 'assets/aboutLogo.svg' %}" alt="Team Image" />
    </div>
    <div class="description">
        <p>
            Welcome to The Angaar Batch, a free online coding community. Our mission is to provide free coding classes and online coding courses to individuals who are passionate about learning to code. 
            
            <br>
            <br>
            Whether you're a beginner or an experienced coder, our community offers a supportive learning environment where you can develop your coding skills, connect with other coders, and achieve your coding goals.
            <br>
            <br>
            With a talent for programming and a commitment to helping others learn, We are dedicated to providing high-quality coding education to individuals of all ages and backgrounds. Whether you're interested in learning the basics of coding or want to advance your skills in a specific area, we have a course that's right for you.

            <br>
            <br>
            Our community is built on a foundation of passion, knowledge, and collaboration, and we welcome individuals
            who are committed to learning, growing, and achieving their coding goals.
        </p>
    </div>
</section>

<section class="container2">
    <div class="content">
        <h1>500 hours of Placement Training</h1>
        <div class="card">
            <h2>Angaar Free Classes:</h2>
            <p>
                Students scored 25+ in exams after attending free Python or C
                classes.
            </p>
        </div>
        <div class="card">
            <h2>Angaar Plus:</h2>
            <p>
                Non-coding background students and those with poor first-year
                performance were motivated to participate in SIH, with all being
                selected. Students credited Angaar Plus for their hackathon
                success.
            </p>
        </div>
        <div class="card">
            <h2>Angaar 2023:</h2>
            <p>Over 2500 students joined.</p>
        </div>
        <div class="card">
            <h2>Angaar 2022 Batch:</h2>
            <p>5 students secured internships at an IIT Bombay startup.</p>
        </div>
        <div class="card">
            <h2>Angaar Plus Success:</h2>
            <p>
                One student received 3 paid offline internship offers this year.
            </p>
        </div>
    </div>
</section>

{% endblock %}