{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#AngaarHai</title>

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🔥</text></svg>">

    <link rel="stylesheet" href="{% static 'css/home/css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home/css/landing.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home/css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% block css %}
        {% endblock %}

</head>

<body>
    <!-- Navbaar -->
    <nav class="navbar">
        <div class="fix">
            <div class="logo">
                <a href="{% url 'home' %}">
                <img src="{% static 'assets/angaar.svg' %}" alt="Logo">
            </a>
            </div>
            <div class="hamburger " id="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </div>

        <ul class="nav-links" id="nav-links" style="justify-content: center;">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'angaar_plus' %}">Our Courses</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>

<!-- 
            <li>
                <div class="razorpay-embed-btn" style="margin-bottom: -8%; margin-top: -3%;"
                    data-url="https://pages.razorpay.com/pl_OEQj4sye62CYQF/view" data-text="Register with Referral" 
                    data-color="#EB5E00" data-size="large">
                    <script>
                        (function () {
                            var d = document; var x = !d.getElementById('razorpay-embed-btn-js')
                            if (x) {
                                var s = d.createElement('script'); s.defer = !0; s.id = 'razorpay-embed-btn-js';
                                s.src = 'https://cdn.razorpay.com/static/embed_btn/bundle.js'; d.body.appendChild(s);
                            } else {
                                var rzp = window['__rzp__'];
                                rzp && rzp.init && rzp.init()
                            }
                        })();
                    </script>
                </div>
            </li> -->
            <!-- <li>
                <div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_OI9NBc2ug2TIR1/view" 
                style="margin-bottom: -8%; margin-top: -3%;"
                data-text="Register without Referral" data-color="#EB5E00" data-size="large">
                    <script>
                      (function(){
                        var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
                        if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
                        s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
                        rzp && rzp.init && rzp.init()}})();
                    </script>
                  </div>
                      
            </li> -->
            

        </ul>
        <div class="auth" id="auth">
            <!-- <a href="{% url 'register' %}" class="login" style="margin-top: 2%; text-decoration: none;">Sign Up</a> -->
            <a href="{% url 'angaar_plus' %}" class="signup" style="margin-top: 2%; text-decoration: none;">Register for Angaar++🔥</a>

            <a href="{% url 'login' %}" class="signup" style="margin-top: 2%; text-decoration: none;">Login</a>
            <br>
        </div>


    </nav>
    <!-- End of Navbar -->
    <!-- Allert  baar -->
    <div class="alert">
        <h1>🚀 Limited Seats left for ANGAAR++🔥 <span>Hurry Up!!</span></h1>
        <button onclick="document.location='{% url 'angaar_plus' %}'">Join Now</button>
    </div>
    <!-- Landing page -->
    <main>
        
        {% block body %}
        {% endblock %}

        <!-- Foooter -->
    </main>
    <footer>
        <div class="footer-container">
            <div class="logo-section">
                <div class="angaar-btn">
                    <img src="{% static 'assets/angaar.svg' %}" alt="Angaar Logo" width="80%" class="logo">
                    <p>theangaarbatch.in</p>
                </div>
                <p>Join us only if you want to learn🔥</p>
                <!-- <div class="app-links">
                <a href="#"><img src="path/to/google-play-badge.png" alt="Google Play"></a>
                <a href="#"><img src="path/to/app-store-badge.png" alt="App Store"></a>
            </div> -->
            </div>
            <!-- <div class="pages-section">
            <h4>Pages</h4>
            <ul>
                <li><a href="#">Home it work</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Demo</a></li>
            </ul>
        </div>
        <div class="service-section">
            <h4>Service</h4>
            <ul>
                <li><a href="#">Shopify</a></li>
                <li><a href="#">WordPress</a></li>
                <li><a href="#">UI/UX Design</a></li>
            </ul>
        </div> -->
            <div class="contact-section">
                <h4>Contact</h4>
                <p><i class="fa fa-phone"></i> +91 8273619318</p>
                <p><i class="fa fa-envelope"></i> info@theangaarbatch.in</p>
                <!-- <p><i class="fa fa-map-marker"></i> 2972 Westheimer Rd. Santa Ana, Illinois 85486</p> -->
            </div>
            <div class="social-media-section">
                <h4>Social media</h4>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/company/the-angaar-batch/" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/the_angaar_batch/" target="_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/home/js/nav.js' %}"></script>
</body>

</html>