{% extends 'home/base.html' %}

{% load static %}

{% block body %}

<section class="landing">
    <div class="landing-content">
        <div>
            <h1>Kya tujhme bhi...</h1>
            <p>Angaar</p>
        </div>
        <h2>Hai</h2>
    </div>
    <div class="landing-image">
        <img src="{% static 'assets/Landing3.png' %}" alt="landing" />
    </div>
    <!-- Video -->
    <div class="play">
        <!-- <img src="./assets/Screen.svg" alt=""> -->
        <!-- <img src="./assets/Screen2.svg" alt=""> -->
        <!-- <video
    src="./assets/flames.mp4"
    autoplay
    loop
    muted
    class="video"
  ></video> -->
        <!-- <video
    src="./assets/landing.mp4"
    autoplay
    loop
    muted
    class="video"
  ></video> -->
    </div>
</section>
<section class="registration">
    <div class="container">
        <div class="content">
            <h1>What's hot going on?</h1>
            <h1 style="color: rgb(249, 95, 18);">
                🔥 A N G A A R + + 🔥
            </h1>
            <a href="{% url 'angaar_plus' %}" target="_blank" class="register-button">Register Now</a>
        </div>
    </div>
    <div class="landing-image">
        <img src="{% static 'assets/background.png' %}" alt="landing" />
    </div>
</section>
<section class="courses" id="courses">

    <div class="landing-image">
        <img src="{% static 'assets/courses.svg' %}" alt="landing" />
    </div>
    <div class="card">
        <div class="card-header">
            <!-- <div class="circle"></div> -->
            <div class="title">
                <h2>Full Stack With Gen AI</h2>
                <p>DK</p>
            </div>
            <div class="details">
                <p>Duration: 45 Days</p>
                <p>Start Date: 5th June, 2024</p>
            </div>
        </div>
        <div class="card-body">
            <h3>Who is this for?</h3>
            <ul>
                <li>Bas seekhne ki Angaar honi chaiye🔥</li>
                <li>Internship ready developer in less than 2 months</li>
                <li>Opportunities to meet industry experts</li>
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'angaar_plus' %}" target="_blank" class="explore-button">Explore More</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <!-- <div class="circle"></div> -->
            <div class="title">
                <h2>Full Stack With Gen AI</h2>
                <p>DK</p>
            </div>
            <div class="details">
                <p>Duration: 45 Days</p>
                <p>Start Date: 5th June, 2024</p>
            </div>
        </div>
        <div class="card-body">
            <h3>Who is this for?</h3>
            <ul>
                <li>Bas seekhne ki Angaar honi chaiye🔥</li>
                <li>Internship ready developer in less than 2 months</li>
                <li>Opportunities to meet industry experts</li>
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'angaar_plus' %}" target="_blank" class="explore-button">Explore More</a>
        </div>
    </div>


</section>

<div class="container"> 
    <div class="content" style="margin-bottom: 3%;">
        <a href="{% url 'angaar_plus' %}" style="width: 50%;"class="register-button">Load More... </a>
    </div>
</div>


{% endblock %}